.App {
  text-align: center;

  & .firstSection {
    background: #fff url(./assets/bg.jpg) center center no-repeat;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 15%;
      border: 15px solid white;
    }
  }
}

/*#0096b2 - blue*/
/*#f2ac3e - orange*/
/*#e96154 - red*/