.App {
  text-align: center;

  & .section {
    background: #fff url(./assets/bg.jpg) center center no-repeat;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 250px;
      border: 15px solid white;
    }
  }
}